<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.uubook.dao.IpAddressInfoMapper" >
  <resultMap id="BaseResultMap" type="com.water.uubook.model.IpAddressInfo" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="region_id" property="regionId" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="isp" property="isp" jdbcType="VARCHAR" />
    <result column="isp_id" property="ispId" jdbcType="VARCHAR" />
    <result column="create_on" property="createOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ip, country, country_id, area, area_id, region, region_id, city, city_id, isp, 
    isp_id, create_on
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.water.uubook.model.IpAddressInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ip_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.water.uubook.model.IpAddressInfoCriteria" >
    delete from ip_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.water.uubook.model.IpAddressInfo" >
    insert into ip_address_info (id, ip, country, 
      country_id, area, area_id, 
      region, region_id, city, 
      city_id, isp, isp_id, 
      create_on)
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{countryId,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{regionId,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{isp,jdbcType=VARCHAR}, #{ispId,jdbcType=VARCHAR}, 
      #{createOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.water.uubook.model.IpAddressInfo" >
    insert into ip_address_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="isp != null" >
        isp,
      </if>
      <if test="ispId != null" >
        isp_id,
      </if>
      <if test="createOn != null" >
        create_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="isp != null" >
        #{isp,jdbcType=VARCHAR},
      </if>
      <if test="ispId != null" >
        #{ispId,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        #{createOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.water.uubook.model.IpAddressInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from ip_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ip_address_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.countryId != null" >
        country_id = #{record.countryId,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null" >
        region_id = #{record.regionId,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=VARCHAR},
      </if>
      <if test="record.isp != null" >
        isp = #{record.isp,jdbcType=VARCHAR},
      </if>
      <if test="record.ispId != null" >
        isp_id = #{record.ispId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOn != null" >
        create_on = #{record.createOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ip_address_info
    set id = #{record.id,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      country_id = #{record.countryId,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=VARCHAR},
      isp = #{record.isp,jdbcType=VARCHAR},
      isp_id = #{record.ispId,jdbcType=VARCHAR},
      create_on = #{record.createOn,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.water.uubook.model.IpAddressInfoCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ip_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertBatch" >
    insert into ip_address_info (id, ip, country, country_id, area, area_id, region, region_id, city, city_id, isp, isp_id, create_on) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=INTEGER}, #{item.ip,jdbcType=VARCHAR}, #{item.country,jdbcType=VARCHAR}, 
        #{item.countryId,jdbcType=VARCHAR}, #{item.area,jdbcType=VARCHAR}, #{item.areaId,jdbcType=VARCHAR}, 
        #{item.region,jdbcType=VARCHAR}, #{item.regionId,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, 
        #{item.cityId,jdbcType=VARCHAR}, #{item.isp,jdbcType=VARCHAR}, #{item.ispId,jdbcType=VARCHAR}, 
        #{item.createOn,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>