<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.uubook.dao.TbCeFetchArticleTaskRecordMapper">
    <resultMap id="BaseResultMap" type="com.water.uubook.model.TbCeFetchArticleTaskRecord">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="url_num" property="urlNum" jdbcType="INTEGER"/>
        <result column="url_actual_num" property="urlActualNum" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, task_id, url_num, url_actual_num, type, finish_time, create_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecordCriteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_ce_fetch_article_task_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_ce_fetch_article_task_record
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_ce_fetch_article_task_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecordCriteria">
        delete from tb_ce_fetch_article_task_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecord">
    insert into tb_ce_fetch_article_task_record (id, task_id, url_num, 
      url_actual_num, type, finish_time, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{urlNum,jdbcType=INTEGER}, 
      #{urlActualNum,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecord">
        insert into tb_ce_fetch_article_task_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="urlNum != null">
                url_num,
            </if>
            <if test="urlActualNum != null">
                url_actual_num,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="finishTime != null">
                finish_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="urlNum != null">
                #{urlNum,jdbcType=INTEGER},
            </if>
            <if test="urlActualNum != null">
                #{urlActualNum,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecordCriteria"
            resultType="java.lang.Integer">
        select count(*) from tb_ce_fetch_article_task_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tb_ce_fetch_article_task_record
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.taskId != null">
                task_id = #{record.taskId,jdbcType=VARCHAR},
            </if>
            <if test="record.urlNum != null">
                url_num = #{record.urlNum,jdbcType=INTEGER},
            </if>
            <if test="record.urlActualNum != null">
                url_actual_num = #{record.urlActualNum,jdbcType=INTEGER},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.finishTime != null">
                finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tb_ce_fetch_article_task_record
        set id = #{record.id,jdbcType=VARCHAR},
        task_id = #{record.taskId,jdbcType=VARCHAR},
        url_num = #{record.urlNum,jdbcType=INTEGER},
        url_actual_num = #{record.urlActualNum,jdbcType=INTEGER},
        type = #{record.type,jdbcType=INTEGER},
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecord">
        update tb_ce_fetch_article_task_record
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="urlNum != null">
                url_num = #{urlNum,jdbcType=INTEGER},
            </if>
            <if test="urlActualNum != null">
                url_actual_num = #{urlActualNum,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecord">
    update tb_ce_fetch_article_task_record
    set task_id = #{taskId,jdbcType=VARCHAR},
      url_num = #{urlNum,jdbcType=INTEGER},
      url_actual_num = #{urlActualNum,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select resultMap="BaseResultMap" parameterType="com.water.uubook.model.TbCeFetchArticleTaskRecordCriteria"
            id="selectByExampleWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_ce_fetch_article_task_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <insert id="insertBatch">
        insert into tb_ce_fetch_article_task_record (id, task_id, url_num, url_actual_num, type, finish_time,
        create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.taskId,jdbcType=VARCHAR}, #{item.urlNum,jdbcType=INTEGER},
            #{item.urlActualNum,jdbcType=INTEGER}, #{item.type,jdbcType=INTEGER}, #{item.finishTime,jdbcType=TIMESTAMP},
            #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>